# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# vdcode
.vscode

# Lab1 Ignore
lab1/*.model
lab1/data/*
lab1/checkpoints/*
lab1/runs/*
!lab1/runs/attemptA
!lab1/runs/attemptB

# Lab2 Ignore
lab2/data/*
lab2/AlexNet/*.pth
lab2/AlexNetModule/*.pth
lab2/GoogleNet/*.pth

# Lab3 Ignore
lab3/data/*
lab3/result*/*.pth
lab3/core

# Lab4 Ignore
lab4/*/*.weights
lab4/COCO/*

# Lab5 Ignore
lab5/yolov4 - train/*.weights
lab4/yolov4 - train/COCO/*

# Lab6 Ignore
lab6/*/*.pth
lab6/data/*
lab6/cookies.txt
lab6/index.html

# Lab7 Ignore
lab7/torch_data/*
lab7/data/*
lab7/runs/*
lab7/runs-archive/*
lab7/runs-ict-color/*

lab8/*.zip

lab9/result*/*
!lab9/results_mnist_sgd/reconstruction_150.png
!lab9/results_mnist_sgd/sample_150.png
!lab9/results_mnist_adam/reconstruction_50.png
!lab9/results_mnist_adam/sample_50.png
!lab9/results_mnist_adam_0001/reconstruction_150.png
!lab9/results_mnist_adam_0001/sample_150.png
!lab9/results_adam_l001_b10000/reconstruction_500.png
!lab9/results_adam_l001_b10000/sample_500.png

lab10/.nfs*
lab10/screenshots/.nfs*

torch_data/*
lab11/content/*
lab11/content_nps/*
lab12/checkpoint/*.pth
lab14/train_homework_1M.out